http://popefucker.com {
    proxy / localhost:3002

    proxy /jon localhost:4000 {
        without /jon
    }

    session /api {
        sessionPath /token
        sessionName s
        jwtSecret secret
        sessionKey key
    }

    proxy /api/count localhost:3000
    proxy /api localhost:3001

    gzip {
        ext .html .js
        level 6
    }
}

