[Unit]
Description=db api

[Service]
Environment=PORT=3001
User=monks
Restart=on-failure
WorkingDirectory=/home/monks/services/
ExecStart=/usr/bin/yarn start-api

[Install]
WantedBy=multi-user.target

