[Unit]
Description=db api

[Service]
Environment=PORT=3002
User=monks
Restart=on-failure
WorkingDirectory=/home/monks/client/
ExecStart=/home/monks/client/start

[Install]
WantedBy=multi-user.target

