[Unit]
Description=visit counter

[Service]
Environment=PORT=3000
User=monks
Restart=on-failure
WorkingDirectory=/home/monks/services/
ExecStart=/usr/bin/yarn start-counter

[Install]
WantedBy=multi-user.target

